In [ ]:
DataFrameNaFunctions: working with missing data in DataFrame.
===================== 
dropna(how='any', thresh=None, subset=None)
	Returns a new DataFrame omitting rows with null values. 
	DataFrame.dropna() and DataFrameNaFunctions.drop() are aliases of each other.
df.na.drop().show()

fillna(value, subset=None)
	Replace null values, alias for na.fill(). 
	DataFrame.fillna() and DataFrameNaFunctions.fill() are aliases of each other.
df.na.fill(50).show()
df.na.fill(False).show()
df.na.fill({'id':50,'name':'unknow'}).show()	

replace(to_replace, value=<no value>, subset=None)
	Returns a new DataFrame replacing a value with another value. 
	DataFrame.replace() and DataFrameNaFunctions.replace()
df.na.replace(10,20).show()
df.na.replace('sam',None).show()
df.na.replace({'sam',None}).show()
df4.na.replace(['Alice', 'Bob'], ['A', 'B'], 'name').show()